body
{
	
	font-family: Cochin;
	text-align: center;
	align-items: center;
	width: 1440px;

}
main
{

	text-align: center;

}
a,li
{
	text-decoration: none;
	list-style-type: none;
	color: black;
}
p
{
	text-align: justify;
	font-style: italic;
	font-size: 20px;
}

.hidden
{
	display: none;
}

/*HEADER*/
.mainHeader 
{
	display: flex;
	flex-direction: column;
	align-items: center;
	background-image: url(../images/background.svg);
	height: 250px;
}
#logo
{
	width: 70%;
	display: flex;
	align-items: center;
	margin-top: 100px;
}
nav
{
	display: flex;
	align-items: flex-end;
}
.mainHeader nav ul li
{
	display: inline;

}
/*BANNER*/
#Banner
{
	text-align: center;
	position: relative;

}

.bannerImg
{
	position: relative;
}



#Break
{
	height: 200px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;

}

#Break h3
{
	font-size: 20px;
	text-align: center;
	color: #c09174;
	margin-top: 10px;

}

button
{
	font-family: Cochin;
	font-size: 14px;
	background: #c09174;
	color: Black;
	height: 30px;

}


/*--GALLERY--*/
.Gallery
{
   	padding-right: 400px;
   	padding-left: 400px;
}



.Gallery img
{
	width: 8%;
	margin-top: 10px;

}

#icons
{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	align-self: center;
}






.selected { 
  color:  #c09174 !important;  
  text-transform: capitalize;
  font-style: italic;
  }
